# /etc/my.cnf.d/ 디렉토리안의 파일들은 이름 순으로 정렬되며, 가장 마지막 설정을 따르게 됩니다.
# 따라서 z- 시작하는 이 파일에 선언한 내용이 가장 우선 순위로 적용됩니다.

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
collation-server = utf8mb4_unicode_ci
#init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
max_allowed_packet = 32M
slow_query_log
long_query_time = 2

# FullText index 에서 2자 검색 지원(기본 3자 이상)
innodb_ft_min_token_size=2
ft_min_word_len = 2

# 바이너리 로그가 과도하게 늘어나지 않도록, 보관 기간(일)을 제한하면 오래된 로그가 자동 삭제됩니다.
#expire_logs_days = 180

[mysqldump]
default-character-set=utf8mb4
max_allowed_packet = 32M
